*.dat
auto-save/
import_export/
messages/
news/txt/
news/html/box_scores/
news/html/coaches/
news/html/game_logs/
news/html/history/
news/html/kml/
news/html/leagues/
news/html/players/
news/html/real_time_sim/
news/html/reports/
news/html/scripts/
news/html/teams/
news/html/temp/
news/html/index.html
news/html/styles.bak
news/html/styles.css
news/html/images/*.png
news/html/images/*.jpg
news/html/images/*.gif
news/html/images/bb_cards/
news/html/images/hof/
news/html/images/wpa/
